<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalVariables.ApplicationTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="Sam's Starter Apps - MVC5 Web Application Starter solutions to jump start your Web App Devlopment" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(GlobalVariables.HeaderText, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home", null)">@Html.FontAwesome(FontAwesomeIconSet.Home) Home</a></li>
                    <li><a href="@Url.Action("About", "Home", null)">@Html.FontAwesome(FontAwesomeIconSet.Question) About</a></li>
                    <li><a href="@Url.Action("Contact", "Home", null)">@Html.FontAwesome(FontAwesomeIconSet.Comment) Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @GlobalVariables.ApplicationTitle :: <span class="tooltips" title="Want a site like this? Email me Dirtshoot@gmail.com">By @GlobalVariables.CompanyName / <a href="mailto:dirtshoot@gmail.com">@GlobalVariables.SiteAuthorName</a></span></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
