@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Manage", "Account", null)" title="Manage">@Html.FontAwesome(FontAwesomeIconSet.User) @User.Identity.GetUserName()</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Html.FontAwesome(FontAwesomeIconSet.SignOut) Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account", null)" title="Create Your Account" id="registerLink">@Html.FontAwesome(FontAwesomeIconSet.User) Register</a>
        </li>

        <li>
            <a href="@Url.Action("Login", "Account", null)" title="Log-In" id="loginLink">@Html.FontAwesome(FontAwesomeIconSet.SignIn) Log In</a>
        </li>
    </ul>
}
