@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Manage", "Account", null)" title="Manage">@User.Identity.GetUserName() @Html.FontAwesome(FontAwesomeIconSet.User)</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off @Html.FontAwesome(FontAwesomeIconSet.SignOut)</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account", null)" title="Create Your Account" id="registerLink">Register @Html.FontAwesome(FontAwesomeIconSet.User)</a>
        </li>

        <li>
            <a href="@Url.Action("Login", "Account", null)" title="Log-In" id="loginLink">Log In @Html.FontAwesome(FontAwesomeIconSet.SignIn)</a>
        </li>
    </ul>
}
