@{
    ViewBag.Title = "Plugins Examples";
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Bootstrap LightBox", "BootstrapLightBox")</li>
    <li>@Html.ActionLink("Bootstrap LightBox Dark", "BootstrapLightBoxDark")</li>
    <li>@Html.ActionLink("Bootstrap Carousel", "BootstrapCarousel")</li>
    <li>@Html.ActionLink("GlyphIcons", "GlyphIcons")</li>
</ul>
