@model Company.Solution.Models.ConfirmEmail

Content-Type: text/html; charset=utf8

<html>
    <body>
        <p style="font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:6px;margin-bottom:10px;">
            You have successfully Registered at
            <a href="@Url.Action("Index", "Home", null, protocol: Request.Url.Scheme)">Company.com</a>.
        </p>
        <p style="font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:6px;margin-bottom:20px;">
            Username: @Model.UserName<br />Email: @Model.To
        </p>

        <p style="font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:6px;margin-bottom:10px;">Please click the confirmation link below to activate your login.</p>
        <p style="font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:6px;margin-bottom:10px;">
            <a href="@Model.ConfirmUrl">Confirm Your Account</a>
        </p>

        @Html.Partial("_EmailFooter")
    </body>
</html>